@import './../../styles/variables.sass'
    
.login-page
    @include container()
    .login-additional
        p
            color: #999
            a
                color: $mediumBlue
                font-weight: 700
                text-decoration: none
    .login-form
        color: $darkBlue
        background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 251, 255, 1) 100%) 
        background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 251, 255, 1) 100%)
        background: -o-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 251, 255, 1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5FBFF', endColorstr='#FFFFFF', GradientType=1 )
        background: -ms-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 251, 255, 1) 100%)
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 251, 255, 1) 100%)
        box-shadow: 0px 0px 20px rgba(0,0,0,.1)
        width: 40%
        text-align: center
        margin: 0 auto
        margin-top: 25px
        padding: 20px
        border-radius: 10px
        @include for-tablets
            width: 100%
            padding: 0
    .input-div
        display: flex
        animation: inputAnim 3s ease
        margin: 5px 0px
        padding: 10px 0px
        border-radius: 10px
        @include for-tablets
            margin: 0px
            padding: 5px 0px
        label
            position: relative
        .login-show-password svg
            position: absolute
            right: 15px
    .login-submit-btn
        background-color: $heltiGreen
        color: #fff
        border: none
        padding: 10px 30px
        border-radius: 10px
        margin: 10px 0px
        font-weight: 700
        box-shadow: 0px 0px 5px rgba(0,0,0,.4)
        @include loginButtonGradient()
        opacity: .7
        cursor: pointer
        transition: 1s ease
        &:hover
            opacity: 1
    .login-welcome
        margin: 20px 0px
        animation: inputAnim 1s ease
        @include for-tablets
            padding: 10px 0px 0px 0px
            margin: 0px 0px 15px 0px
        @include for-phone-only
            padding: 20px 0px 0px 0px
            margin: 10px
        h3
            text-align: left
            font-size: 32px
            margin: 0px
            padding: 0px
            @include for-tablets
                display: inline
            @include for-phone-only
                font-size: 26px
    form
        width: auto
    label
        margin: 5px
        width: 100%
        color: $mediumBlue
        font-weight: 700
        cursor: pointer
        align-items: center
        justify-content: center
        display: flex
    input
        padding: 10px
        color: #999
        font-family: 'Comfortaa', cursive
        font-size: 16px
        width: 100%-3%
        margin: 1% 2%
        box-shadow: 0px 0px 10px rgba(0,0,0,.3)
        transition: 1s ease
        border: none
        border-radius: 10px
        &[type="email"]
            background-image: url('./../../images/icons/email.svg')
            background-repeat: no-repeat
            background-position: 5px center
            background-size: 15px 15px
            padding-left: 30px
        &[type="password"]
            background-image: url('./../../images/icons/password.svg')
            background-repeat: no-repeat
            background-position: 5px center
            background-size: 15px 15px
            padding-left: 30px
        &:focus
            box-shadow: 0px 0px 10px rgba(27, 237, 128, .5)
            border: none
            outline: none


.greetins-message
    text-align: center
    animation: inputAnim 1s ease      

.success-animation
    margin: auto
    padding: 25px 0px

.checkmark 
    width: 100px
    height: 100px
    border-radius: 50%
    display: block
    stroke-width: 2
    stroke: #4bb71b
    stroke-miterlimit: 10
    box-shadow: inset 0px 0px 0px #4bb71b
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
    position:relative
    top: 5px
    right: 5px
    margin: 0 auto

.checkmark__circle 
    stroke-dasharray: 166
    stroke-dashoffset: 166
    stroke-width: 2
    stroke-miterlimit: 10
    stroke: #4bb71b
    fill: #fff
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
 


.checkmark__check 
    transform-origin: 50% 50%
    stroke-dasharray: 48
    stroke-dashoffset: 48
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards


@keyframes stroke 
    100% 
        stroke-dashoffset: 0
    


@keyframes scale 
    0%, 100% 
        transform: none

    50% 
        transform: scale3d(1.1, 1.1, 1)
    


@keyframes fill 
    100% 
        box-shadow: inset 0px 0px 0px 30px #4bb71b
    


@keyframes inputAnim
    0%
        opacity: 0
    100%
        opacity: 100