$darkBlue: #00071C

$mediumBlue: #02195B

$lightBlue: #13B0DB

$heltiGreen: #1BED80

@mixin background-gradient()
    background: -moz-linear-gradient(90deg, rgba(0, 7, 28, 1) 15%, rgba(0, 11, 43, 1) 50%, rgba(0, 7, 28, 1) 85%)
    background: -webkit-linear-gradient(90deg, rgba(0, 7, 28, 1) 15%, rgba(0, 11, 43, 1) 50%, rgba(0, 7, 28, 1) 85%)
    background: -o-linear-gradient(90deg, rgba(0, 7, 28, 1) 15%, rgba(0, 11, 43, 1) 50%, rgba(0, 7, 28, 1) 85%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00071C', endColorstr='#00071C', GradientType=0 )
    background: -ms-linear-gradient(90deg, rgba(0, 7, 28, 1) 15%, rgba(0, 11, 43, 1) 50%, rgba(0, 7, 28, 1) 85%)
    background: linear-gradient(90deg, rgba(0, 7, 28, 1) 15%, rgba(0, 11, 43, 1) 50%, rgba(0, 7, 28, 1) 85%)
    background-repeat: no-repeat
    background-attachment: fixed

@mixin button-gradient()
    background: -moz-linear-gradient(180deg, rgba(27, 237, 128, 1) 0%, rgba(15, 146, 78, 1) 100%)
    background: -webkit-linear-gradient(180deg, rgba(27, 237, 128, 1) 0%, rgba(15, 146, 78, 1) 100%)
    background: -o-linear-gradient(180deg, rgba(27, 237, 128, 1) 0%, rgba(15, 146, 78, 1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0F924E', endColorstr='#1BED80', GradientType=1 )
    background: -ms-linear-gradient(180deg, rgba(27, 237, 128, 1) 0%, rgba(15, 146, 78, 1) 100%)
    background: linear-gradient(180deg, rgba(27, 237, 128, 1) 0%, rgba(15, 146, 78, 1) 100%)
    
@mixin text-gradient()
    background: #1BED80
    background: -webkit-linear-gradient(to right, #1BED80 10%, #13B0DB 100%)
    background: -moz-linear-gradient(to right, #1BED80 10%, #13B0DB 100%)
    background: linear-gradient(to right, #1BED80 10%, #13B0DB 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

@mixin text-gradient-anim()
    background: #1BED80
    background: -webkit-linear-gradient(to right, #13B0DB 10%, #1BED80 100%)
    background: -moz-linear-gradient(to right, #13B0DB 10%, #1BED80 100%)
    background: linear-gradient(to right, #13B0DB 10%, #1BED80 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

@mixin container()
    width: 900px
    margin: 0 auto
    @media (max-width: 1000px)
      width: 95%


@mixin clearfix()
  &:before,
  &:after
    content: " " 
    display: table 
  &:after
    display: block
    clear: both
    height: 1px
    margin-top: -1px
    visibility: hidden
  &
    *zoom: 1
  
@mixin flexbox($heightvh)
  display: flex
  flex-direction: column
  height: $heightvh

  
// @media (min-width: 768px)
//   @mixin container($width)
//     width: 90%
//     margin: 0 auto


@mixin for-tablets
  @media (max-width: 800px) 
    @content

@mixin exiting-tablets
  @media (min-width: 600px) 
    @content

@mixin for-phone-only
  @media (max-width: 599px) 
    @content