@import './../../styles/variables.sass'

.burger-nav
    display: none
    @include for-phone-only
        display: inline-block

.mobile-navigation
    padding: 5px 0px
    ul
        li
            a
                padding: 5px
                margin: 10px 0px
                display: inline-block
                text-decoration: none
                color: #fff

.navigation
    @include clearfix
    .mobile-ul
        @include exiting-tablets
            display: none
        @include clearfix
        list-style: none
        text-align: right
        margin: 0px
        padding: 0px
        justify-content: flex-end
        align-items: center
        flex-wrap: wrap
        .mobile-switch-btn
            background: none
            border: none
            img
                padding: 5px 0px 0px 0px
                height: 30px
                cursor: pointer
        img 
            height: 20px
            width: auto
            filter: invert(100)
        li
            display: block
            text-align: center
            cursor: pointer
            margin: 5px 0px
            transition: background 0.3s ease
            border-radius: 4px
            background-color: $lightBlue
            a
                padding: 5px
                display: inline-block
                margin: 10px 10px
                text-decoration: none
                color: #fff
                transition: color 1s ease
                &:hover
                    color: $heltiGreen