@import './../../styles/variables.sass'

.navigation ul
    list-style: none
    margin: 0px
    padding: 0px
    float: right
    li
        display: inline-block
        a
            padding: 5px
            display: inline-block
            margin: 10px 10px
            text-decoration: none
            color: #fff
            transition: color 1s ease
            &:hover
                color: $heltiGreen
