@import './../../styles/variables.sass'

.navigation
    @include clearfix
    .navigation-ul
        list-style: none
        margin: 0px
        padding: 0px
        float: right
        justify-content: flex-end
        align-items: center
        flex-wrap: wrap
        img 
            height: 20px
            width: auto
            filter: invert(100)
        li
            display: inline-block
            cursor: pointer
            transition: background 0.3s ease
            border-radius: 4px
            position: relative
            @include for-phone-only
                display: none
            a
                padding: 5px
                display: inline-block
                margin: 10px 10px
                text-decoration: none
                color: #fff
                transition: color 1s ease
                &:hover
                    color: $heltiGreen
        #burger-nav
            display: none
            float: right
            @include for-phone-only
                display: block !important