@import './../../styles/variables.sass'

.headerBg
    @include background-gradient

.logo-wrapper
    display: flex
    align-content: center
    overflow: hidden
    float: left
    border-radius: 8px
    .logo
        height: 50px
        display: block
        transition: 1s ease-in-out
        float: left
        &:hover
            transform: scale(1.3)

.header-wrapper 
    padding: 10px 0px
    @include clearfix()

.theme-switch
    float: right
    .theme-switch-btn
        padding: 5px
        margin: 10px 0px 10px 5px

.switch 
  width: 55px
  display: flex
  align-items: center
  justify-content: space-between

.switch div 
  position: relative
  display: block
  background: #eee
  width: 30px
  border-radius: 50px
  padding: 0 5px
  box-sizing: border-box
  cursor: pointer


.fa-adjust 
  transform: rotate(180deg)


.switch input 
  display: none


.slider 
  background-color: #999
  transition: 0.4s
  border-radius: 34px
  height: 12px
  width: 12px
  display: inline-block
  position: relative


input:checked + .slider 
  transform: translateX(8px)

.admin-icon
    height: 50px
    width: auto
    padding: 0px 10px