@import './../../styles/variables.sass'

.not-found
    position: relative
    @include flexbox(90vh)
    @include container(900px)
    justify-content: center
    text-align: center
    .not-found-image
        float: left
        height: 400px
        margin-right: 100px
        width: auto
    .not-found-text
        position: absolute
        right: 0px
        text-align: left
        h3
            font-size: 38px
        p
            font-size: 24px