@import './../../styles/variables.sass'
    
.landing-wrapper
    margin: 5% 0%
    display: flex
    justify-content: space-between
    align-content: center
    @include for-tablets
        text-align: center
        display: flex
        flex-flow: column
    &::before
        content: url('./../../images/dots_bg.svg')
        position: absolute
        left: 0
        top: 150px
        animation: backgroundAnimation 10s infinite
        overflow: hidden
        @include for-tablets
            display: none
    &::after
        content: url('./../../images/dots_bg.svg')
        position: absolute
        right: 0
        bottom: 25vh
        animation: backgroundAnimation 10s infinite
        animation-delay: 5s
        @include for-tablets
            display: none

    .photo-wrapper
        float: left
        @include for-phone-only
            text-align: center
        @include for-tablets
            order: 1
            float: unset
        .landing-photo
            display: inline-block
            height: 400px
            animation: 1s ease-out 0s 1 rotateImage, breathingEffect 5s 1s infinite
            padding: 0px 50px 0px 0px
            @include for-phone-only
                width: 95%
                height: auto
    .landing-textbox
        padding: 2.5% 0%
        float: left
        width: 45%
        overflow: hidden
        @include for-tablets
            order: 2
            padding: 0
            float: unset
            width: 90%
        a
            button
                @include homepage-btn-gradient()
                opacity: .8
                padding: 5px 30px
                margin: 10px
                font-size: 18px
                overflow: hidden
                &::before
                    content: url('./../../images/dots_bg.svg')
                    width: 1000px
                    position: absolute
                    animation: buttonBgAnimation 15s infinite
                    z-index: -999
                &:hover
                    opacity: 1
        .landing-btn
            @include button-gradient()
            padding: 10px 20px
            display: inline-block
            border: none
            border-radius: 5px
            color: #fff
            font-weight: 700
            font-size: 20px
            text-shadow: 0px 0px 20px #000
            cursor: pointer
        .landing-title
            @include text-gradient()
            font-size: 32px
            font-weight: 700
            animation: 2s ease-out 0s 1 text-anim
        p
            color: #fff
            font-family: 'Comfortaa', cursive
            a
                color: rgba(245, 177, 67, 1)
                text-decoration: none
                font-weight: 700

.landing-info
    animation: landingAnim 1.5s ease
    color: $darkBlue
    @include container()
    @include clearfix()
    text-align: left
    display: flex
    margin-top: -50px
    @include for-tablets
        display: block
    .landing-infobox
        background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 251, 255, 1) 100%) 
        background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 251, 255, 1) 100%)
        background: -o-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 251, 255, 1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5FBFF', endColorstr='#FFFFFF', GradientType=1 )
        background: -ms-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 251, 255, 1) 100%)
        background: linear-gradient(180deg, rgba(255, 255, 255, .9) 0%, rgba(245, 251, 255, 1) 100%)
        col: 1
        margin: -100px 1.5% 0px 1.5%
        width: 28%
        float: left
        box-shadow: 0px 0px 20px rgba(0,0,0,.2)
        padding: 20px
        border-radius: 10px
        @include for-tablets
            width: 80%
            padding: 20px
            margin: 0 auto
            margin-top: 20px
            float: unset
        img
            display: block
            background-color: $lightBlue
            height: 30px
            width: auto
            padding: 20px
            border-radius: 100%
            text-align: left
        .landing-info-desc
            font-family: 'Comfortaa', cursive
            opacity: 0.7
        
.landing-authenticated
    color: #fff
    text-shadow: 1px 1px 1px rgba(0,0,0,.8)
    h2
        font-family: $cursive-font
    button
        background-color: rgba(27, 237, 128, .7)
        text-shadow: 1px 1px 1px rgba(0,0,0,.4)
        &:hover
            background-color: $heltiGreen
    p
        font-size: 18px
        font-family: $cursive-font
        span
            color: $heltiGreen

.landing-svg 
    fill: url(#MyGradient)

.footer-svg 
    fill: url(#FooterGradient)
    transform: rotate(180deg)

.svg-container
    position: relative
    z-index: -9999
    width: 100%
    height: 30px
    padding-bottom: 20px

.footer-svg-container
    position: relative
    z-index: -9999
    width: 100%
    height: 70px
    padding-top: 20px

@keyframes rotateImage
    from
        transform: rotate(-20deg)
        opacity: 0%
    to
        transform: rotate(0deg)
        opacity: 100%

@keyframes text-anim
    0%
        background-position: 0% 50%
    50%
        background-position: 100% 50%
    100%
        background-position: 0% 50%

@keyframes backgroundAnimation
    0%
        transform: scale(1,1)
    50%
        transform: scale(1.1, 1.1)
    100%
        transform: scale(1,1)

@keyframes buttonBgAnimation
    0%
        left: -150px
        visibility: hidden
    50%
        visibility: visible
    100%
        left: 250px
        visibility: hidden